extends ../layout

block main
  .row.mb-4
    .col-12
      h2 Systems

  .row.mb-4
    .col-12.col-md-6.mb-4
      .card.h-100
        .card-header Total by Score
        .card-body
          canvas#scoreChart

    .col-12.col-md-6.mb-4
      .card.h-100
        .card-header Total by Country
        .card-body
          canvas#countryChart

    .col-12.col-xl-6.mb-4
      .card.h-100
        .card-header Total by Month
        .card-body
          canvas#dateChart

    .col-12.col-xl-6.mb-4
      .card.h-100
        .card-header Last records
        .card-body.table-responsive
          table.table.table-md
            thead
              tr
                th(scope='col') #
                th(scope='col') Name
                th(scope='col') Country
                th(scope='col') Score
            tbody
              each record in lastResults
                tr
                  td
                    a(href='/systems/' + record.siasarId)= record.siasarId
                  td= record.name
                  td= record.country
                  td(class='text-score-'+ record.score)= record.score

block scripts
  script.
    scoreChart = !{JSON.stringify(scoreChart)}
    countryChart = !{JSON.stringify(countryChart)}
    dateChart = !{JSON.stringify(dateChart)}
  script(src='/javascripts/system/index.js')
