extends ../layout

block styles
  link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.1/dist/leaflet.css')

block main
  .row.mb-4
    .col-12
      h2 System: #{record.name}

  .row.mb-4
    .col-6.col-md-3.col-xl-2.mb-4
      .card.h-100
        .card-header Score
        .card-body
          h1(class='text-score-'+ record.score)= record.score

    .col-6.col-md-3.col-xl-2.mb-4
      .card.h-100
        .card-header Location
        .card-body
          h4= record.adm0
          h5= record.location

    .col-6.col-md-3.col-xl-2.mb-4
      .card.h-100
        .card-header Served Households
        .card-body
          h1= record.servedHouseholds

    .col-6.col-md-3.col-xl-2.mb-4
      .card.h-100
        .card-header Building Year
        .card-body
          h1= record.buildingYear

    .col-6.col-md-3.col-xl-2.mb-4
      .card.h-100
        .card-header Communities
        .card-body
          ul.indicator-list
            each community in record.communities
              li
                span.circle-score(class='background-score-' + community.score)
                a(href='/communities/' + community.siasarId)= community.name

    if record.pictureUrl
      .col-12.col-xl-6.mb-4
        .card.h-100
          .card-header Picture
          .card-body
            img(src=record.pictureUrl)

    .col-12.col-xl-6.mb-4
      .card.h-100
        .card-header Map
        .card-body
          #map

block scripts
  script.
    record = !{JSON.stringify(record)}
  script(src='/javascripts/system/show.js')
  script(src='https://unpkg.com/leaflet@1.3.1/dist/leaflet.js')
