extends ../layout

block styles
  link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.1/dist/leaflet.css')

block main
  .row
    .col-12
      h2 Communities

  .row
    .col-12.mb-4
      .card.h-100
        .card-header Map
        .card-body
          #map

    .col-12.col-md-6.mb-4
      .card.h-100
        .card-header Total by Score
        .card-body
          canvas#scoreChart

    .col-12.col-md-6.mb-4
      .card.h-100
        .card-header Total by Country
        .card-body
          canvas#countryChart

    .col-12.col-xl-6.mb-4
      .card.h-100
        .card-header Total by Month
        .card-body
          canvas#dateChart

    .col-12.col-xl-6.mb-4
      .card.h-100
        .card-header Top Communities
        .card-body.table-responsive
          table.table.table-md
            thead
              tr
                th(scope='col') #
                th(scope='col') Name
                th(scope='col') Country
                th(scope='col') WSP
                th(scope='col') Score
            tbody
              each record in lastResults
                tr
                  td
                    a(href='/communities/' + record.siasarId)= record.siasarId
                  td= record.name
                  td= record.country
                  td= record.wsp.toFixed(2)
                  td(class='text-score-'+ record.score)= record.score

block scripts
  script.
    geoJSON = !{JSON.stringify(geoJSON)}
    scoreChart = !{JSON.stringify(scoreChart)}
    countryChart = !{JSON.stringify(countryChart)}
    dateChart = !{JSON.stringify(dateChart)}
  script(src='https://unpkg.com/leaflet@1.3.1/dist/leaflet.js')
  script(src='https://unpkg.com/leaflet-wfst@2.0.1-beta.20/dist/leaflet-wfst.min.js')
  script(src='/javascripts/community/index.js')
