extends ../layout

block styles
  link(rel='stylesheet', href='/stylesheets/community/show.css')
  link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.1/dist/leaflet.css')

block main
  .row.mb-4
    .col-12
      h2 Community: #{record.name}

  .row.mb-4
    .col-6.col-md-3.col-xl-2.mb-4
      .card.h-100
        .card-header Score
        .card-body
          h1(class='text-score-'+ record.score)= record.score

    .col-6.col-md-3.col-xl-2.mb-4
      .card.h-100
        .card-header Location
        .card-body
          h4= record.adm0
          h5= record.location

    .col-6.col-md-3.col-xl-2.mb-4
      .card.h-100
        .card-header Population
        .card-body
          h1= record.population

    .col-6.col-md-3.col-xl-2.mb-4
      .card.h-100
        .card-header Households
        .card-body
          h1= record.households

    .col-6.col-md-3.col-xl-2.mb-4
      .card.h-100
        .card-header Survey Date
        .card-body
          h1= record.surveyDate

    .col-6.col-md-3.col-xl-2.mb-4
      .card.h-100
        .card-header Systems
        .card-body
          ul.indicator-list
            each system in record.systems
              li
                span.circle-score(class='background-score-' + system.score)
                a(href='/systems/' + system.siasarId)= system.name

    .col-12.col-xl-6.mb-4
      .card.h-100
        .card-header Score Tree
        .card-body
          - var r = record
          include ../../public/images/indicators.svg

    if record.pictureUrl
      .col-12.col-xl-6.mb-4
        .card.h-100
          .card-header Picture
          .card-body
            img(src=record.pictureUrl)

    .col-12.col-xl-6.mb-4
      .card.h-100
        .card-header Map
        .card-body
          #map

    .col-6.col-xl-3.mb-4
      .card.h-100
        .card-header Water
        .card-body
          ul.indicator-list
            li
              span.circle-score(class='background-score-' + record.wslAccScore)
              | Accessibility
            li
              span.circle-score(class='background-score-' + record.wslAccScore)
              | Effective water coverage
            li
              span.circle-score(class='background-score-' + record.wslConScore)
              | Continuity
            li
              span.circle-score(class='background-score-' + record.wslConScore)
              | Hours of service
            li
              span.circle-score(class='background-score-' + record.wslSeaScore)
              | Seasonality
            li
              span.circle-score(class='background-score-' + record.wslSeaScore)
              | Demand coverage
            li
              span.circle-score(class='background-score-' + record.wslQuaScore)
              | Water Quality
            li
              span.circle-score(class='background-score-' + record.wslQuaScore)
              | Results of water analysis

    .col-6.col-xl-3.mb-4
      .card.h-100
        .card-header Sanitation and hygiene service level
        .card-body
          ul.indicator-list
            li
              span.circle-score(class='background-score-' + record.shlSslScore)
              | Level of sanitation service
            li
              span.circle-score(class='background-score-' + record.fisScore)
              | Improved sanitation service level
            li
              span.circle-score(class='background-score-' + record.fpsScore)
              | Own sanitation coverage
            li
              span.circle-score(class='background-score-' + record.shlPerScore)
              | Personal hygiene
            li
              span.circle-score(class='background-score-' + record.fhpScore)
              | Use of water and soap
            li
              span.circle-score(class='background-score-' + record.fusScore)
              | Use of improved sanitation
            li
              span.circle-score(class='background-score-' + record.shlWatScore)
              | Hygiene in the home
            li
              span.circle-score(class='background-score-' + record.shlWatScore)
              | Safe water management in the home
            li
              span.circle-score(class='background-score-' + record.shlWatScore)
              | Community hygiene
            li
              span.circle-score(class='background-score-' + record.ftbScore)
              | Collection or treatment of garbage
            li
              span.circle-score(class='background-score-' + record.faflScore)
              | Absence of open defecation

    .col-6.col-xl-3.mb-4
      .card.h-100
        .card-header School
        .card-body
          ul.indicator-list
            li
              span.circle-score(class='background-score-' + record.ecsScore)
              | Water, sanitation and hygiene in schools and health centers
            li
              span.circle-score(class='background-score-' + record.ecsEagScore)
              | Improved drinking water in schools
            li
              span.circle-score(class='background-score-' + record.ecsEagScore)
              | Water service level in schools
            li
              span.circle-score(class='background-score-' + record.ecsCagScore)
              | Improved drinking water in health centers
            li
              span.circle-score(class='background-score-' + record.ecsCagScore)
              | Water service level in health centers
            li
              span.circle-score(class='background-score-' + record.ecsSheScore)
              | Improved sanitation and hygiene in schools
            li
              span.circle-score(class='background-score-' + record.ecsSheScore)
              | Sanitation and hygiene service level in schools
            li
              span.circle-score(class='background-score-' + record.ecsShsScore)
              | Improved sanitation and hygiene in health centers
            li
              span.circle-score(class='background-score-' + record.ecsShsScore)
              | Sanitation and hygiene service level in health centers

block scripts
  script.
    record = !{JSON.stringify(record)}
  script(src='/javascripts/community/show.js')
  script(src='https://unpkg.com/leaflet@1.3.1/dist/leaflet.js')
