extends layout

block main
  .row
    .col
      .jumbotron.text-center
        .container
          h1.jumbotron-heading Welcome to SIASAR Data

  .row.mb-4
    .col-12.col-md-6.col-xl-3.mb-4
      .card.h-100
        .card-header Communities
        .card-body
          h1= result[0]
          a.float-right.btn.btn-info.btn-sm(href='/communities')
            span.oi.oi-plus

    .col-12.col-md-6.col-xl-3.mb-4
      .card.h-100
        .card-header Systems
        .card-body
          h1= result[1]
          a.float-right.btn.btn-info.btn-sm(href='/systems')
            span.oi.oi-plus

    .col-12.col-md-6.col-xl-3.mb-4
      .card.h-100
        .card-header Service Providers
        .card-body
          h1= result[2]

    .col-12.col-md-6.col-xl-3.mb-4
      .card.h-100
        .card-header Technical Assitance Providers
        .card-body
          h1= result[3]

block scripts
  script(src='/javascripts/index.js')