doctype html
html
  head
    title= title
    meta(charset='utf-8')/
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')/
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    block styles

  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href='/') SIASAR Data
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar')
          span.navbar-toggler-icon

        #navbar.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/communities') Communities
            li.nav-item
              a.nav-link(href='/systems') Systems
            li.nav-item
              a.nav-link(href='#') Service Providers
            li.nav-item
              a.nav-link(href='#') Technical Assistance Providers

    main(role='main')
      .container-fluid
        block main

    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js')

    script(src='/javascripts/main.js')

    block scripts
