html, body, main {
  height: 100%;
}

main {
  overflow: scroll;
  padding-top: 15px;
  padding-bottom: 15px;
}

#chart {
  width: 100%;
  /* height: 100%; */
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}

.text-score-A {
  color: #54BA46 !important;
}

.text-score-B {
  color: #FFFF39 !important;
}

.text-score-C {
  color: #FF9326 !important;
}

.text-score-D {
  color: #C92429 !important;
}

.text-score-N {
  color: #AAAAAA !important;
}

.background-score-A {
  background-color: #54BA46 !important;
  fill: #54BA46 !important;
}

.background-score-B {
  background-color: #FFFF39 !important;
  fill: #FFFF39 !important;
}

.background-score-C {
  background-color: #FF9326 !important;
  fill: #FF9326 !important;
}

.background-score-D {
  background-color: #C92429 !important;
  fill: #C92429 !important;
}

.background-score-N {
  background-color: #AAAAAA !important;
  fill: #AAAAAA !important;
}

.circle-score {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  fill-opacity: 1;
  stroke: black;
  stroke-opacity: 0.5;
  stroke-width: 1;
}

.card-body img {
  width: 100%;
  height: auto;
}

.indicator-list {
  list-style: none;
  padding: 0;
}

.indicator-list li {
  margin-bottom: 10px;
}

#map {
  min-height: 500px;
}